body {
  font-size: .875rem;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
* Sidebar
*/

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/*
* Content
*/

[role="main"] {
  padding-top: 48px; /* Space for fixed navbar */
}

/*
* Navbar
*/

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

h1{
  border-bottom: 1px solid #b7b7b7;
  padding-bottom: 10px;
  margin-bottom: 25px;
  font-size: 24px;
  font-weight: 500;
}

span.text-theme{
  color:#d90e0e;
}

.btn {
  font-size: 0.875rem;
}

div.dataTables_wrapper div.dataTables_length label {
  font-weight: normal;
  text-align: left;
  white-space: nowrap;
}

div.dataTables_wrapper div.dataTables_length select {
  width: auto;
  display: inline-block;
}

div.dataTables_wrapper div.dataTables_filter {
  text-align: right;
}

div.dataTables_wrapper div.dataTables_filter label {
  font-weight: normal;
  white-space: nowrap;
  text-align: left;
}

div.dataTables_wrapper div.dataTables_filter input {
  margin-left: 0.5em;
  display: inline-block;
  width: auto;
}

.table td.action {
  padding: 0.75rem 0.25rem;
}

table.table_sort th{
  cursor: pointer;
  position: relative;
}

table.table_sort th.sorting_asc:after,
table.table_sort th.sorting_desc:after,
table.table_sort th.sorting:after{
  font-family: Font Awesome\ 5 Free!important;
  font-weight: 900;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
}

table.table_sort th.sorting_asc:after,
table.table_sort th.sorting_desc:after,
table.table_sort th.sorting:after{
  position: absolute;
  bottom: 0.9em;
  display: block;
  opacity: 0.3;
}

.sorting_asc:after{
  right: 0.5em;
  content: '\f0dd';
}

.sorting_desc:after{
  right: 0.5em;
  content: '\f0de';
}

.sorting:after{
  right: 0.5em;
  content: '\f0dc';
}

